/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* --- Mobil 320px  --- */
@media (min-width: 320px) { 
    .outerContainer{
        
        width: 100%;
        height: auto;
        
    }
    .bgImage{
        position: absolute;
    }
    
    
    .innerContainer{
        display:flex;
        align-content: flex-start;
        
    }
    /* ---- header-start   ----  */
    .navBar{
        width: 1920px;
        
        padding: 0px 50px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        color: #FFFFFF;
        font-family: 'Rajdhani', sans-serif;
        z-index: 1;
        height: 75px;
        
    }
    .navBar ul  {
        text-decoration: none;
        list-style: none;
        display:none;
        gap: 50px;
        
    }
    .navBar ul a{
      color: #FFFFFF;
      text-decoration: none;
    }
    
    .navBar .logo img{
        display: flex;
        width: 48px;
    }
    .logo a{
        
        display: flex;
        align-items: center;
        height: auto;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 600;
        font-size: 28px;
        font-style: normal;
        font-family: 'Rajdhani', sans-serif;
    }
    .contactUs{
        display:none;
        
    }
    .contactUs img{
        width: 20px;
        margin-right: 25px;
    }
    .contactUs img{
        margin-right: 25px;
    }
    .contactUs a{
        display: flex;
        gap: 10px;
        text-decoration: none;
        font-weight: 300;
        color: #FFFFFF;
    }
    .menuIcon{
        margin-right: 25px;
    }
    /* --- header-end -----   */

    /* ----- hero  -----   */

    .hero{
      display: flex;
      justify-content:space-between;
      gap: 120px;
      width: 100%;
      padding: 0px 50px;
      margin-top: 75px;
    }
    .heroLeft{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .heroLeft h5{
      color: #FFD84D;
      font-family: Rajdhani;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 56px;
    }
    .heroLeft p{
      color: #FFFFFF;

      font-family: Rajdhani;
      font-size: 75px;
      font-style: normal;
      font-weight: 700;
      line-height: 75px;
    }
    .heroRight{
      
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 40%;
    }
    .heroRight h4{
      color: var(--neutral-white, #FFF);
      font-family: Rajdhani;
      font-size: 24px;
      font-style:normal;
      font-weight: 700;
      line-height: 35px; /* 140% */
      

    }
    .heroRight p{
      color: #EAF9FD;
      font-family: Roboto;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; 
      margin-bottom: 10px;
    }
    .heroBtn{
      display: flex;
      width: 40%;
      padding: 5px 5px;
      align-items: center;
      gap: 16px;
      border-radius: 999px;
      background: var(--effects-white-80, rgba(255, 255, 255, 0.80));
      box-shadow: 0px 82px 235px 0px rgba(0, 48, 121, 0.21);
      
      color: var(--black-panel, #202636);
      
      text-decoration: none;
      font-family: Rajdhani;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 133.333% */
      letter-spacing: 0.48px;
    }

    /* --- hero-card --- */
    .heroCards{
      padding: 0 50px;
      margin-top: 50px;
    }

    .heroCard{
      display: flex;
      justify-content: space-between;
      gap: 25px;
      background-color: rgba(255, 255, 255, 0.80);
      width: 300px;
      border-radius: 24px;
      padding: 20px 25px;
      flex-direction: column;
      align-items: center;

    }
    .heroCardUp{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .heroCardUp h1{
      color: var(--primary-blue, #0052B4);
      font-family: Rajdhani;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 45px; /* 100% */
    }
    .heroCardUp p{
      color: var(--black-panel, #202636);
      text-align: center;
      font-family: Rajdhani;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 25px; /* 125% */
    }
    .heroCard img{
      margin: 25px 0px;
    }
    
    
}


/*  --- Desktop 1170px   ---  */
@media (min-width: 1170px) {
   
    .innerContainer{
        width: 1170px;
        margin: 0 auto;
        position: relative;
        display: flex;
        
    }
    .bgImage{
        position: absolute;
        width: 100%;
    }
    .menuIcon{
        display: none;
    }
    .navBar{
        display: flex;
    }
    .contactUs{
        display: flex;
    }
    
    .navBar ul{
        display: flex;
        flex-direction: row;
        color: #FFFFFF;
    }
    
    

}